
@import "~bootstrap/dist/css/bootstrap.css";


.resultado-copa {
    margin-top: 30px;
}


.desafio-btn-selecionar-novas-equipes {     
    height: 100%;        
    text-align: center;    
    border: 0;    
    background-color: rgb(48, 47, 47);
    font-size: 18px;
    color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
}